# Terraform local folders (providers)
.terraform

# Terraform local state files
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup

# Terraform plans
*.tfplan

# Local files
.env
setenv.bat
terraform.tfvars
